html,
body {
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    background-color: black;
}

h1 {
    color: green;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 2px purple;
}

h2 {
    color: green;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 2px purple;
}

h3 {
    color: green;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 2px purple;
}

h4 {
    color: green;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 2px purple;
}

h5 {
    color: green;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 2px purple;
}

.dj-text {
    color: green;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 2px purple;
}

label {
    color: green;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 2px purple;
}

.dj-name {
    font-size: 25px;
}

.contact-text {
    color: white;
    font-size: 20px;
    çç
}

p {
    color: white;
    overflow: hidden;
}

.modal-text {
    color: green;
    font-size: 20px;
    padding: 2%;
}

.modal-text.header {
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
    padding: 2%;
    text-shadow: 2px 2px 2px purple;
}

.modal-content {
    background-color: black;
    border: 1px solid green;
    box-shadow: 1px 1px 10px purple;
}

.modal-header {
    border: 1px solid green;
    box-shadow: 1px 1px 10px purple;
}

.modal-footer {
    border: 1px solid green;
    box-shadow: 1px 1px 10px purple;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links>a {
    color: green;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 2px purple;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-text {
    color: green;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 2px purple;
}

.links>a:hover {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: green;
    font-size: 25px;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 2px purple;
}


}
.m-b-md {
    margin-bottom: 30px;
}
h5 {
    color: green;
}
.mainbar {
    align-content: center;
}
.radiate {
    max-width: 100;
}
.btn {
    color: green;
    border: 1px solid green;
}
a {
    color: green;
}
.btn:hover {
    background-color: #fff;
    color: green;
}
.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: black;
    color: green;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
footer {
    position: absolute;
    z-index: 0;
    bottom: 500px;
    left: 0;
}
.navbar-inverse {
    background-color: black;
    z-index: 1;
}
.mainbar {
    padding: 10px 10px 10px 10px;
}
#djs {
    position: fixed;
    top: 150px;
    bottom: 50px;
    z-index: 2;
    width: calc(100% - 20%);
    opacity: 0.6;
    overflow-y: scroll;
}
#contact {
    position: fixed;
    top: 150px;
    bottom: 50px;
    width: calc(100% - 20%);
    z-index: 2;
    opacity: 0.8;
}
#schedule {
    position: fixed;
    top: 150px;
    bottom: 50px;
    width: calc(100% - 20%);
    z-index: 2;
    overflow-y: scroll;
    overflow-x: scroll;
}
#public_blog {
    position: fixed;
    top: 150px;
    bottom: 50px;
    width: calc(100% - 20%);
    z-index: 2;
    overflow-y: scroll;
    border: 2px solid green;
    box-shadow: 1px 1px 10px purple;
}
img {
    border: 2px solid green;
    box-shadow: 2px 2px 10px purple;
}
img:hover {
    transition: 0.5s;
    transform: scale(1.2);
}
h4:hover {
    color: white;
}
.form-control {
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    background-color: black;
    border: 1px solid green;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control,
output {
    font-size: 14px;
    line-height: 1.6;
    color: white;
    display: block;
}
.blog {
    color: green;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 2px purple;
    padding-right: 2%;
    padding-left: 2%;
}
.blog:hover {
    color: green;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 2px purple;
}
hr {
    border: 1px solid green;
    box-shadow: 2px 2px 10px purple;
}
button {
    color: green;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 2px purple;
}
.day {
    color: green;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 2px purple;
}
.dg.main .close-button.close-bottom {
    position: absolute;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 2px purple;
}
@media screen and (max-width: 480px) {
    #djs {
        position: fixed;
        top: 200px;
        bottom: 50px;
        z-index: 2;
        width: calc(100% - 20%);
        opacity: 0.6;
        overflow-y: scroll;
    }
    
    #contact {
        position: fixed;
        top: 200px;
        bottom: 50px;
        width: calc(100% - 20%);
        z-index: 2;
        opacity: 0.8;
    }
    
    #schedule {
        position: fixed;
        top: 250px;
        bottom: 50px;
        width: calc(100% - 20%);
        z-index: 2;
        overflow-y: scroll;
        overflow-x: scroll;
    }
    
    #public_blog {
        position: fixed;
        top: 200px;
        bottom: 50px;
        width: calc(100% - 20%);
        z-index: 2;
        overflow-y: scroll;
        border: 2px solid green;
        box-shadow: 1px 1px 10px purple;
    }
}